.nutrition-list {
    width: 100vw;
    position: absolute;
    left: 0;
    background-color: black;
    max-height: 800px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

@media only screen and (min-device-height: 400px) and (max-device-height: 500px) and (-webkit-min-device-pixel-ratio: 2) {
    .nutrition-list {
        max-height: 120px;
    }
}
@media only screen and (min-device-height: 500px) and (max-device-height: 600px) and (-webkit-min-device-pixel-ratio: 2) {
    .nutrition-list {
        max-height: 260px;
    }
}
@media only screen and (min-device-height: 600px) and (max-device-height: 700px) and (-webkit-min-device-pixel-ratio: 2) {
    .nutrition-list {
        max-height: 320px;
    }
}
@media only screen and (min-device-height: 700px) and (max-device-height: 800px) {
    .nutrition-list {
        max-height: 430px;
    }
}
@media only screen and (min-device-height: 800px) and (max-device-height: 900px) {
    .nutrition-list {
        max-height: 510px;
    }
}

@media only screen and (min-device-height: 900px) and (max-device-height: 1000px) {
    .nutrition-list {
        max-height: 910px;
    }
}
@media only screen and (min-device-height: 1000px) and (max-device-height: 1100px) {
    .nutrition-list {
        max-height: 710px;
    }
}

@media only screen and (min-device-height: 1100px) {
    .nutrition-list {
        max-height: calc(79vh - 100px);
    }
}
@media only screen and (min-device-height: 1400px) {
    .nutrition-list {
        max-height: 910px;
    }
}

@media only screen and (orientation: landscape) {
    .nutrition-list {
        max-height: 710px;
    }
}
