.diary-wrapper {
    width: 100vw;
    background: black;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.diary-loading {
    font-size: 3rem;
    text-align: center;
}
.name-renderer {
    color: white;
    white-space: pre-wrap;
    height: 100px;
    line-height: 2;
}
